/******************************************
GENERAL
*******************************************/

.wrap {
    width: 90%;
    margin: 0 auto;
    max-width: 1100px;
}

/*******************************************
NAV
********************************************/

.menu a {
    color: #fff7f7;
    font-size: 1.2em;
}
.menu-centered a:hover {
    background: #222;
    transition: 3s;
}

/*******************************************
HERO
********************************************/

.hero {
    background-color: #999;
    padding: 80px 0px;
    height: 400px;
}
.button.success {
    background-color: #2e2b2b;
}
.button.success:hover {
    background-color: rgba(34, 34, 34, 0.76);
    transition: 2s;
}

/*******************************************
MAIN CONTENT
********************************************/

.main {
    padding: 80px 0px;
}

/*******************************************
FOTTER
********************************************/

footer {
    margin-top: 111px;
    height: 40px;
    background-color: rgba(34, 34, 34, 0.57);
    /*    padding: 6px 0px;*/
}
footer a {
    display: block;
}
.navrow {
    background-color: rgba(34, 34, 34, 0.57);
}
.row {
    max-width: 1350px;
    margin: 0;
    padding: 0;
}

/*.menu li{*/


/*    padding: 20px;*/


}
.backgroun {
    background-image: url(../images/candice_swanepoel_style-wallpaper-1600x900.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.text p {
    text-align: center;
    font-size: 3em;
    letter-spacing: 8px;
    margin-top: 200px;
    color: #222222;
    background-color: rgba(255, 255, 255, 0.26);
}
.menu-centered {
    margin-top: 34px;
}
.success {
    text-align: center;
    font-size: 1em;
    /*    color: #FFF;
    /*    background-color: #222;*/

    padding: 12px;
}
.logo {
    letter-spacing: 5px;
    font-family: fantasy;
    color: #222222;
}
section.background {
    height: 100%;
    background-image: url(../images/fashion_7-wallpaper-2048x1152.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
